body {
  margin: 0;
  padding: 0;
}

body[data-bs-theme="light"] {
  background-color: white;
  color: black;

  .form-switch .form-check-input {
    background-color: black;
    border-color: black;
    background-position: left center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }

  .form-switch .form-check-input:checked {
    background-position: right center;
  }

  .form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(128, 128, 128, 0.25);
  }

  input.form-control:focus,
  textarea.form-control:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(128, 128, 128, 0.25);
  }
}

body[data-bs-theme="dark"] {
  background-color: black;
  color: white;

  .form-switch .form-check-input {
    background-color: white;
    border-color: white;
    background-position: left center;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000'/%3e%3c/svg%3e");
  }

  .form-switch .form-check-input:checked {
    background-position: right center;
  }

  .form-switch .form-check-input:focus {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23000'/%3e%3c/svg%3e");
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(128, 128, 128, 0.25);
  }
  .modal-content {
    background-color: black;
    color: white;
    border: 1px solid #fff;

    .btn-close {
      filter: invert(1);
    }
  }
}

.condiment-regular {
  font-family: "Condiment", cursive;
  font-weight: 400;
  font-style: normal;
}
.unifrakturcook-bold {
  font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
}

.color-grey {
  color: #808080;
}

.bg-grey {
  background-color: #808080;
}

.mainFrame {
  height: 100vh;
  width: 100%;
}

.themeContainer {
  cursor: pointer;
}

.banner {
  height: calc(100% - 240px);
}

.special-position {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

@media (max-width: 576px) {
 .special-position {
    position: relative;
  }
  .alert {
    position: absolute;
    left: 15px;
    width: 90% !important;
  }
 
  #logoImg {
    max-width: 50px;
  }
  .banner {
    height: calc(100% - 80px);
  }
}
